body {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

div {
  border: 1px solid #bbb;
}

div h1 {
  font-size: 42px;
  line-height: 60px;
  margin-bottom: 10px;
}

div h3 {
  font-size: 24px;
  line-height: 48px;
}

div h4 {
  font-size: 18px;
  line-height: 36px;
}

.header {
  background-color: #3B5998;
  display: block;
  color: white;
  font-family: Helvetica, sans-serif;
  border-bottom: 2px solid black;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  width: 100%;
}

.header:after {
  content: "\00A0";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#login-header {
  height: 72px;
}
.header > div {
  display: inline-block;
  /* margin: 10px auto; */
}

.header .title {
  float: left;
}
.header .login-forms {
  float: right;
}
.header .login-forms h6 {
  line-height: 24px;
}
.login-inline-block {
  display: inline-block;
}

#login-btn {
  background-color: #00B2EE;
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  border-bottom: 3px solid #444;
  border-right: 3px solid #444;
  width: 70px;
}

.main {
clear: both;
width: 100%;
height: 100%;
font-family: helvetica, sans-serif;
}
.main > div {
display: inline-block;
padding: 50px;
}
.main .promo-copy {
float: left;
width: 45%;
}

.main ul > li {
list-style-type:disc;
line-height: 24px;
margin-left: 38px;
}

.main .sign-up-form {
  line-height: 30px;
  float: right;

}
.main .sign-up-form .half-line-input {
  width: 144px;
}

.main .sign-up-form .full-line-input {
  width: 292px;
}


#sign-in {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: #228B22;
  padding: 5px;
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  border-bottom: 3px solid #444;
  border-right: 3px solid #444;
  margin-top: 5px;
}

/* ABOUT PAGE */

.wrapper-left-header {
  width: 25%;
  vertical-align: middle;
  box-sizing: border-box;
}

.wrapper-left-header img {
  display: inline-block;
  line-height: 48px;
  padding-right: 5px;
}

.wrapper-left-header h2 {
  display: inline-block;
  font-size: 42px;
  line-height: 48px;
  vertical-align: top;
  margin: 0 10px;
}

.wrapper-middle-header {
  width: 45%;
  margin: 0 auto;
  line-height:48px;
  vertical-align: middle;
  box-sizing: border-box;
}

.wrapper-middle-header input {
  width: 100%;
  padding: 2px;
}

.wrapper-right-header {
  width: 25%;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 48px;
}

.wrapper-right-header h4 {
  color: #fff;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
}


/* HEADLINE SECTION FOR ABOUT AND FRIENDS PAGES */

.headline {
  height: 360px;
  width: 851px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid black;
  position: relative;
  font-family: Helvetica, sans-serif;
}

.headline .background-img-wrapper {
  display: block;
  width: 100%;
  height: 313px;
  position: relative;
}

.headline .background-img-wrapper .cover {
  position: relative;
  width: 100%;
  height: 313px;
}

.headline .background-img-wrapper h3 {
  position: relative;
  left: 180px;
  bottom: 48px;
  color: #ffffff;
}

.headline .background-img-wrapper .avatar {
  position: absolute;
  bottom: -20px;
  left: 13px;
  border: 2px solid black;
  margin: 0;
}

.headline .profile-navbar {
  width: 852px;
  height: 42px;
  margin: 0 auto;
  display: block;
}

.headline .profile-navbar > div {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 44px;
  line-height: 45px;
  width: 110px;
  border: 3px solid black;
  margin: 0px -3px;
}

.headline .profile-navbar div h4 {
  margin: 0;
}

.headline .profile-navbar .left-blank-tab {
  width: 180px;
}

.headline .profile-navbar .edit-tab {
  width: 199px;
  padding-right: 10px;
}

.headline .profile-navbar .edit-tab a {
  text-align: right;
  display: inline-block;
  width: 100%;
  font-size: 12px;
}

#selected-tab {
  font-weight: bold;
  background-color: #ddd;
  padding: -1px;
}


.content {
  width: 851px;
  margin: 80px auto;
  display: block;
  border: 2px solid black;
  font-family: Helvetica, sans-serif;
  position: relative;
  text-align: center;
}

.content > div {
  display: inline-block;
  margin: 0 auto;
}

.content h4 {
  line-height: 36px;
  font-size: 20px;
}

.content .top-line {
  width: 826px;
  display: block;
  padding-left: 25px;
  position: relative;
  text-align: center;
  background-color: #aaa;
  border-bottom: 2px solid black;
}

.content .top-line h3 {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.content .top-line form {
  display: inline-block;
  right: 0;
}

.content .profile-btn {
  position: absolute;
  right: 6px;
  top: 8px;
  background-color: #296BE8;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
}

.content .about-left {
  float: left;
  width: 45%;
  padding: 20px;
}

.content .about-right {
  float: right;
  width: 45%;
  padding: 20px;
}

.greyed {
  color: #aaa;
}

.info-table {
  width: 100%;
  margin: 18px 0;
}

.info-table td:first-child {
  font-weight: bold;
  text-align: left;
  width: 50%;
}

.info-table td:nth-child(2) {
  text-align: left;
}

/*Friends page-specific styling */

.friend-box {
  width: 400px;
  height: 100px;
  border: 2px solid #444;
  margin: 10px 8px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}

.friend-box > div {
  display: inline-block;
  vertical-align: middle;
}

.friend-img-wrapper {
  width: 80px;
  height: 80px;
  border: 2px solid #444;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 10px;
}

.friend-name {
  height: 36px;
  width: 140px;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 5px;
  margin-right: 0px;
}

.friend-name a {
  vertical-align: middle;
}

.friend-name p {
  vertical-align: middle;
}

.unfriend-button-wrapper {
  height: 30px;
  width: 100px;
  vertical-align: middle;
  margin: 35px 8px;
}

.unfriend-button-wrapper input {
  background-color: #ccc;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  padding: 5px;
  vertical-align: middle;
}

/* Newsfeed Styles */

.whole-feed-page {
  border-top: 2px solid #555;
  font-family: Helvetica, sans-serif;
}

.feed-left-column {
  border-right: 2px solid #555;
  height: 100%;
  width: 300px;
  display: inline-block;
}

.feed {
  display: inline-block;
  height: 100%;
  width: 600px;
  padding-left: 50px;
}

.user-ID {
  width: 100%;
}

.user-ID-img-wrapper {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #666;
  margin: 10px;
}

.username-links {
  display: inline-block;
  padding: 5px;
  box-sixing: border-box;
  vertical-align: middle;
  margin: auto;
  height: 100%;
}

.username-links a {
  font-size: 10px;
}

.username-links .my-profile-link {
  font-size: 16px;
  font-weight: bold;
}

.post-ID {
  width: 100%;
  height: 50px;
  display: block;
}

.post-ID-img-wrapper {
  height: 40px;
  width: 40px;
  margin: 5px;
  display: inline-block;
}

.post-ID-text {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.post {
  border: 2px solid #555;
  display: block;
  position: relative;
  margin: 30px auto;
  display: block;
  width: 90%;
}

.post .likes-and-comments {
  border: 2px solid #555;
  background-color: #ddd;
  line-height: 18px;
  
}

.post .post-ID {
  height: auto;
}

.comment {
  margin: 10px 0px;
}
.comment .post-ID-text {
  height: auto;
  width: 450px;
}
