body {
  font-family: Helvetica, sans-serif;
}

div {
  border: 1px solid #bbb;
}

div h1 {
  font-size: 42px;
  line-height: 60px;
  margin-bottom: 10px;
}
div h3 {
  font-size: 24px;
  line-height: 48px;
}

div h4 {
  font-size: 18px;
  line-height: 36px;
}

.header {
  background-color: #3B5998;
  display: block;
  color: white;
  font-family: Helvetica, sans-serif;
  border-bottom: 2px solid black;
  margin-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  width: 100%;
}

.header:after { 
  content: "\00A0"; 
  display: block; 
  clear: both; 
  visibility: hidden; 
  line-height: 0; 
  height: 0;
}

#login-header {
  height: 72px;
}
.header > div {
  display: inline-block;
  /* margin: 10px auto; */
}

.header .title {
  float: left;
}
.header .login-forms {
  float: right;
}
.header .login-forms h6 {
  line-height: 24px;
}
.login-inline-block {
  display: inline-block;
}

#login-btn {
  background-color: #00B2EE;
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  border-bottom: 3px solid #444;
  border-right: 3px solid #444;
  width: 70px;
}

.main {
clear: both;
width: 100%;
height: 100%;
font-family: helvetica, sans-serif;
}
.main > div {
display: inline-block;
padding: 50px;
}
.main .promo-copy {
float: left;
width: 45%;
}

.main ul > li {
list-style-type:disc;
line-height: 24px;
margin-left: 38px;
}

.main .sign-up-form {
  line-height: 30px;
  float: right;

}
.main .sign-up-form .half-line-input {
  width: 144px;
}

.main .sign-up-form .full-line-input {
  width: 292px;
}


#sign-in {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: #228B22;
  padding: 5px;
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  border-bottom: 3px solid #444;
  border-right: 3px solid #444;
  margin-top: 5px;
}

/* LOGIN PAGE */

.wrapper-left-header {
  float: left;
  width: 25%;
  box-sizing: border-box;
}

.wrapper-left-header img {
  display: inline;
  line-height: 48px;
  padding-right: 5px;
}
.wrapper-left-header h2 {
  display: inline-block;
  font-size: 42px;
  line-height: 48px;
  vertical-align: top;
  border: 1px solid #aaa;
}

.wrapper-middle-header {
  width: 45%;
  text-align: center;
  line-height:48px;
  box-sizing: border-box;
}

.wrapper-middle-header input {
  width: 100%;
  padding: 2px;
}

.wrapper-right-header {
  float: right;
  clear: none;
  width: 25%;
  display: inline-block;
  margin: 0;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

.wrapper-right-header h4 {
  color: #666;
  display: inline-block;
}
